<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
        <script src="jquery-3.5.1.js"></script>
        <title><%= title %></title>
    </head>
    <body>
        <h1 style="font-weight: bold">Ok <strong class="uname"><%= message %></strong>, please review your files</h1>
        <pre id="notify" class><h1 id="fader"> </h1></pre>
        <form class="upload" id="upload" action="/#">
            <fieldset id="global"> <legend>Select File</legend>
             
                    <p id="p0"></p>
                    <div id="imagePad">
                       
                        
                    </div>
              
       
        
            </fieldset>
        </form>
        <br>
        <br>
        <br>
        <div id="main" class="main">
            <strong class="green">ONLINE: </strong><weak id="online"><%= online %></weak>
            
            <input id="num" hidden="true" value="<%=num%>"></input>
            <input id="imageArray" hidden="true" value="<%=images%>"></input>
        </div>
        <br>
        <form action="/" method="GET">
            <button type="submit">Home</button>
        </form>
        <form action="/upload" method="GET">
            <button type="submit">upload</button>
        </form>
    </body>
    <script src="../src/myChar.js"></script>
    <script src="../src/global.js"></script>
</html>